:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

.react-flow {
  --background: #e2e8f0;
  --panel-background: #f8fafc;
  --panel-shadow: 0 0 8px 0 rgb(0 0 0 / 0.5);
  --text: #0a0a0a;

  background-color: var(--background);
}

.react-flow.dark {
  --background: #0f172a;
  --panel-background: #1e293b;
  --panel-shadow: 0 0 8px 0 rgb(0 0 0 / 0.4);
  --text: "black";
  
}

.react-flow__panel,
.react-flow__node-toolbar {
  background-color: var(--panel-background);
  box-shadow: var(--panel-shadow);
  border-radius: 8px;
  padding: 8px;
}

/* .react-flow__node.selected */

.react-flow svg {
  display: block;
}

.react-flow__minimap-mask {
  fill: var(--background);
  fill-opacity: 0.85;
}

.react-flow__node-toolbar {
  display: flex;
  gap: 8px;
}

.react-flow__controls-button,
.react-flow__controls-button:hover {
  background: var(--panel-background);
  border-bottom: none;
}

.react-flow__controls-button > svg {
  fill: var(--text);
}

.react-flow__handle {
  opacity: 0;
  z-index: 10;
}

.react-flow__node.selected .react-flow__handle {
  opacity: 1;
}

.react-flow__handle,
.react-flow__resize-control.handle {
  border: 1px solid var(--background);
}

.sidebar-label {
  color: var(--text);
  font-size: 12px;
  margin-bottom: 4px;
  user-select: none;
}

/* begin */

.sidebar {
  width: 250px; /* Adjust the width as needed */
  transition: width 0.3s;
  /* box-shadow: 8px 4px 8px rgba(0, 0, 0, 0.5);  */
  padding: 0px;
}

.sidebar.collapsed {
  width: 100px; /* Adjust the collapsed width as needed */
}

.sidebar-toggle-button {
  /* background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 100%; */
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-icon {
  display: inline-block;
  transition: transform 0.3s ease; /* Smooth transition for rotation */
}

.toggle-icon.collapsed  {
  transform: rotate(0deg); /* Points to the right when collapsed */
}

.toggle-icon.expanded  {
  transform: rotate(90deg); /* Points down when expanded */
}


/* .sidebar-label, .sidebar-items {
  margin-top: 10px;
} */
/* end */

.sidebar-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2px;
  padding: 5px;
}

.sidebar-item {
  opacity: 0.5;
  cursor: pointer;
  padding: 5px;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
}

.sidebar-item > svg {
  stroke: var(--text);
}

.sidebar-item:hover {
  opacity: 1;
  background-color: var(--background);
}

.sidebar-item-drag-image {
  transform: translate(0, 0);
  position: absolute;
  top: -100000px;
  left: -1000000px;
}

.color-swatch {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  outline: none;
  box-shadow: none;
  border: 1px solid var(--panel-background);
  cursor: pointer;
}

.color-swatch.active {
  outline: 2px solid var(--text);
}

.node-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  color: var(--text);
}

.node-label::placeholder {
  color: var(--text);
  /* opacity:0.5; */
  opacity: 1;
}

/* for edge types */
.edge-type-selector {
  background-color: var(--panel-background);
  box-shadow: var(--panel-shadow);
  border-radius: 8px;
  padding: 8px;
  z-index: 10;
}

.edge-type-selector select {
  background: var(--panel-background);
  color: var(--text);
  border: 1px solid var(--background);
  padding: 4px;
  border-radius: 4px;
  outline: none;
}

.edge-type-selector label {
  color: var(--text);
  font-size: 12px;
  user-select: none;
}

.react-flow__panel  {
  color: '#000000'
}



/* .reactflow-button {
  background-color: #f3f3f3;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px 16px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.button {
  background-color: #f3f3f3;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px 16px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
} */

/* .button:hover {
  background-color: #e8e8e8;
}

.button:focus {
  outline: 2px solid #0366d6;
} */


/* .reactflow-button {
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
} */

/* .reactflow-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.reactflow-button:active {
  background-color: #003d80;
}

.reactflow-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}

.reactflow-sidebar-item {
  display: flex;
  align-items: center;
  margin: 8px 0;
}

.reactflow-sidebar-item-drag-image {
  display: none;
} */

